
// FONTS
$font-primary: 'brandon_grotesquemedium';
$font-primary-bold: 'brandon_grotesquebold';
$font-base: 'questrialregular';

// ICONS
$icomoon-font-path: "../fonts/oohqicons" !default;

$oohq-icon-home-path1: "\eb21";
$oohq-icon-home-path2: "\eb22";
$oohq-icon-home-path3: "\eb23";
$oohq-icon-home-path4: "\eb24";
$oohq-icon-home-path5: "\eb25";
$oohq-icon-home-path6: "\eb26";
$oohq-icon-user-path1: "\eb27";
$oohq-icon-user-path2: "\eb28";
$oohq-icon-user-path3: "\eb29";
$oohq-icon-hours_circle-path1: "\e900";
$oohq-icon-hours_circle-path2: "\e901";
$oohq-icon-hours_circle-path3: "\e902";
$oohq-icon-hours_circle-path4: "\e903";
$oohq-icon-hours_circle-path5: "\e904";
$oohq-icon-hours_circle-path6: "\e905";
$oohq-icon-hours_circle-path7: "\e906";
$oohq-icon-hours_circle-path8: "\e907";
$oohq-icon-hours_circle-path9: "\e908";
$oohq-icon-hours_circle-path10: "\e909";
$oohq-icon-hours_circle-path11: "\e90a";
$oohq-icon-hours_circle-path12: "\e90b";
$oohq-icon-hours-path1: "\e90c";
$oohq-icon-hours-path2: "\e90d";
$oohq-icon-hours-path3: "\e90e";
$oohq-icon-hours-path4: "\e90f";
$oohq-icon-hours-path5: "\e910";
$oohq-icon-hours-path6: "\e911";
$oohq-icon-hours-path7: "\e912";
$oohq-icon-hours-path8: "\e913";
$oohq-icon-hours-path9: "\e914";
$oohq-icon-import_circle-path1: "\e915";
$oohq-icon-import_circle-path2: "\e916";
$oohq-icon-import_circle-path3: "\e917";
$oohq-icon-import_circle-path4: "\e918";
$oohq-icon-import_circle-path5: "\e919";
$oohq-icon-import_circle-path6: "\e91a";
$oohq-icon-import_circle-path7: "\e91b";
$oohq-icon-import_circle-path8: "\e91c";
$oohq-icon-import_circle-path9: "\e91d";
$oohq-icon-import_circle-path10: "\e91e";
$oohq-icon-import-path1: "\e91f";
$oohq-icon-import-path2: "\e920";
$oohq-icon-import-path3: "\e921";
$oohq-icon-import-path4: "\e922";
$oohq-icon-import-path5: "\e923";
$oohq-icon-import-path6: "\e924";
$oohq-icon-import-path7: "\e925";
$oohq-icon-location_circle-path1: "\e92c";
$oohq-icon-location_circle-path2: "\e92d";
$oohq-icon-location_circle-path3: "\e92e";
$oohq-icon-location_circle-path4: "\e92f";
$oohq-icon-location_circle-path5: "\e930";
$oohq-icon-location_circle-path6: "\e931";
$oohq-icon-location_circle-path7: "\e932";
$oohq-icon-location_circle-path8: "\e933";
$oohq-icon-location_circle-path9: "\e934";
$oohq-icon-location-path1: "\e926";
$oohq-icon-location-path2: "\e927";
$oohq-icon-location-path3: "\e928";
$oohq-icon-location-path4: "\e929";
$oohq-icon-location-path5: "\e92a";
$oohq-icon-location-path6: "\e92b";
$oohq-icon-styles_circle-path1: "\e935";
$oohq-icon-styles_circle-path2: "\e936";
$oohq-icon-styles_circle-path3: "\e937";
$oohq-icon-styles_circle-path4: "\e938";
$oohq-icon-styles_circle-path5: "\e939";
$oohq-icon-styles_circle-path6: "\e93a";
$oohq-icon-styles_circle-path7: "\e93b";
$oohq-icon-styles_circle-path8: "\e93c";
$oohq-icon-styles_circle-path9: "\e93d";
$oohq-icon-styles_circle-path10: "\e93e";
$oohq-icon-styles_circle-path11: "\e93f";
$oohq-icon-styles_circle-path12: "\e940";
$oohq-icon-styles_circle-path13: "\e941";
$oohq-icon-styles_circle-path14: "\e942";
$oohq-icon-styles_circle-path15: "\e943";
$oohq-icon-styles_circle-path16: "\e944";
$oohq-icon-styles_circle-path17: "\e945";
$oohq-icon-styles_circle-path18: "\e946";
$oohq-icon-styles_circle-path19: "\e947";
$oohq-icon-styles_circle-path20: "\e948";
$oohq-icon-styles_circle-path21: "\e949";
$oohq-icon-styles_circle-path22: "\e94a";
$oohq-icon-styles-path1: "\e94b";
$oohq-icon-styles-path2: "\e94c";
$oohq-icon-styles-path3: "\e94d";
$oohq-icon-styles-path4: "\e94e";
$oohq-icon-styles-path5: "\e94f";
$oohq-icon-styles-path6: "\e950";
$oohq-icon-styles-path7: "\e951";
$oohq-icon-styles-path8: "\e952";
$oohq-icon-styles-path9: "\e953";
$oohq-icon-styles-path10: "\e954";
$oohq-icon-styles-path11: "\e955";
$oohq-icon-styles-path12: "\e956";
$oohq-icon-styles-path13: "\e957";
$oohq-icon-styles-path14: "\e958";
$oohq-icon-styles-path15: "\e959";
$oohq-icon-styles-path16: "\e95a";
$oohq-icon-styles-path17: "\e95b";
$oohq-icon-styles-path18: "\e95c";
$oohq-icon-styles-path19: "\e95d";
$oohq-icon-tables_circle-path1: "\e95e";
$oohq-icon-tables_circle-path2: "\e95f";
$oohq-icon-tables_circle-path3: "\e960";
$oohq-icon-tables_circle-path4: "\e961";
$oohq-icon-tables_circle-path5: "\e962";
$oohq-icon-tables_circle-path6: "\e963";
$oohq-icon-tables_circle-path7: "\e964";
$oohq-icon-tables_circle-path8: "\e965";
$oohq-icon-tables_circle-path9: "\e966";
$oohq-icon-tables_circle-path10: "\e967";
$oohq-icon-tables-path1: "\e968";
$oohq-icon-tables-path2: "\e969";
$oohq-icon-tables-path3: "\e96a";
$oohq-icon-tables-path4: "\e96b";
$oohq-icon-tables-path5: "\e96c";
$oohq-icon-tables-path6: "\e96d";
$oohq-icon-tables-path7: "\e96e";
$oohq-icon-website_circle-path1: "\e96f";
$oohq-icon-website_circle-path2: "\e970";
$oohq-icon-website_circle-path3: "\e971";
$oohq-icon-website_circle-path4: "\e972";
$oohq-icon-website_circle-path5: "\e973";
$oohq-icon-website_circle-path6: "\e974";
$oohq-icon-website_circle-path7: "\e975";
$oohq-icon-website_circle-path8: "\e976";
$oohq-icon-website_circle-path9: "\e977";
$oohq-icon-website_circle-path10: "\e978";
$oohq-icon-website_circle-path11: "\e979";
$oohq-icon-website_circle-path12: "\e97a";
$oohq-icon-website_circle-path13: "\e97b";
$oohq-icon-website_circle-path14: "\e97c";
$oohq-icon-website_circle-path15: "\e97d";
$oohq-icon-website-path1: "\e97e";
$oohq-icon-website-path2: "\e97f";
$oohq-icon-website-path3: "\e980";
$oohq-icon-website-path4: "\e981";
$oohq-icon-website-path5: "\e982";
$oohq-icon-website-path6: "\e983";
$oohq-icon-website-path7: "\e984";
$oohq-icon-website-path8: "\e985";
$oohq-icon-website-path9: "\e986";
$oohq-icon-website-path10: "\e987";
$oohq-icon-website-path11: "\e988";
$oohq-icon-website-path12: "\e989";
$oohq-icon-email_circle-path1: "\e98a";
$oohq-icon-email_circle-path2: "\e98b";
$oohq-icon-email_circle-path3: "\e98c";
$oohq-icon-email_circle-path4: "\e98d";
$oohq-icon-email_circle-path5: "\e98e";
$oohq-icon-email_circle-path6: "\e98f";
$oohq-icon-email_circle-path7: "\e990";
$oohq-icon-email_circle-path8: "\e991";
$oohq-icon-email-path1: "\e992";
$oohq-icon-email-path2: "\e993";
$oohq-icon-email-path3: "\e994";
$oohq-icon-email-path4: "\e995";
$oohq-icon-email-path5: "\e996";
$oohq-icon-promos_circle-path1: "\e997";
$oohq-icon-promos_circle-path2: "\e998";
$oohq-icon-promos_circle-path3: "\e999";
$oohq-icon-promos_circle-path4: "\e99a";
$oohq-icon-promos_circle-path5: "\e99b";
$oohq-icon-promos_circle-path6: "\e99c";
$oohq-icon-promos_circle-path7: "\e99d";
$oohq-icon-promos_circle-path8: "\e99e";
$oohq-icon-promos_circle-path9: "\e99f";
$oohq-icon-promos-path1: "\e9a0";
$oohq-icon-promos-path2: "\e9a1";
$oohq-icon-promos-path3: "\e9a2";
$oohq-icon-promos-path4: "\e9a3";
$oohq-icon-promos-path5: "\e9a4";
$oohq-icon-promos-path6: "\e9a5";
$oohq-icon-sms_circle-path1: "\e9a6";
$oohq-icon-sms_circle-path2: "\e9a7";
$oohq-icon-sms_circle-path3: "\e9a8";
$oohq-icon-sms_circle-path4: "\e9a9";
$oohq-icon-sms_circle-path5: "\e9aa";
$oohq-icon-sms_circle-path6: "\e9ab";
$oohq-icon-sms_circle-path7: "\e9ac";
$oohq-icon-sms_circle-path8: "\e9ad";
$oohq-icon-sms_circle-path9: "\e9ae";
$oohq-icon-sms_circle-path10: "\e9af";
$oohq-icon-sms_circle-path11: "\e9b0";
$oohq-icon-sms-path1: "\e9b1";
$oohq-icon-sms-path2: "\e9b2";
$oohq-icon-sms-path3: "\e9b3";
$oohq-icon-sms-path4: "\e9b4";
$oohq-icon-sms-path5: "\e9b5";
$oohq-icon-sms-path6: "\e9b6";
$oohq-icon-sms-path7: "\e9b7";
$oohq-icon-sms-path8: "\e9b8";
$oohq-icon-collection_circle-path1: "\e9b9";
$oohq-icon-collection_circle-path2: "\e9ba";
$oohq-icon-collection_circle-path3: "\e9bb";
$oohq-icon-collection_circle-path4: "\e9bc";
$oohq-icon-collection_circle-path5: "\e9bd";
$oohq-icon-collection_circle-path6: "\e9be";
$oohq-icon-collection_circle-path7: "\e9bf";
$oohq-icon-collection_circle-path8: "\e9c0";
$oohq-icon-collection_circle-path9: "\e9c1";
$oohq-icon-collection_circle-path10: "\e9c2";
$oohq-icon-collection_circle-path11: "\e9c3";
$oohq-icon-collection_circle-path12: "\e9c4";
$oohq-icon-collection_circle-path13: "\e9c5";
$oohq-icon-collection_circle-path14: "\e9c6";
$oohq-icon-collection_circle-path15: "\e9c7";
$oohq-icon-collection_circle-path16: "\e9c8";
$oohq-icon-collection_circle-path17: "\e9c9";
$oohq-icon-collection-path1: "\e9ca";
$oohq-icon-collection-path2: "\e9cb";
$oohq-icon-collection-path3: "\e9cc";
$oohq-icon-collection-path4: "\e9cd";
$oohq-icon-collection-path5: "\e9ce";
$oohq-icon-collection-path6: "\e9cf";
$oohq-icon-collection-path7: "\e9d0";
$oohq-icon-collection-path8: "\e9d1";
$oohq-icon-collection-path9: "\e9d2";
$oohq-icon-collection-path10: "\e9d3";
$oohq-icon-collection-path11: "\e9d4";
$oohq-icon-collection-path12: "\e9d5";
$oohq-icon-collection-path13: "\e9d6";
$oohq-icon-collection-path14: "\e9d7";
$oohq-icon-collection-path15: "\e9d8";
$oohq-icon-combo_circle-path1: "\e9d9";
$oohq-icon-combo_circle-path2: "\e9da";
$oohq-icon-combo_circle-path3: "\e9db";
$oohq-icon-combo_circle-path4: "\e9dc";
$oohq-icon-combo_circle-path5: "\e9dd";
$oohq-icon-combo_circle-path6: "\e9de";
$oohq-icon-combo_circle-path7: "\e9df";
$oohq-icon-combo_circle-path8: "\e9e0";
$oohq-icon-combo_circle-path9: "\e9e1";
$oohq-icon-combo_circle-path10: "\e9e2";
$oohq-icon-combo_circle-path11: "\e9e3";
$oohq-icon-combo_circle-path12: "\e9e4";
$oohq-icon-combo_circle-path13: "\e9e5";
$oohq-icon-combo_circle-path14: "\e9e6";
$oohq-icon-combo_circle-path15: "\e9e7";
$oohq-icon-combo-path1: "\e9e8";
$oohq-icon-combo-path2: "\e9e9";
$oohq-icon-combo-path3: "\e9ea";
$oohq-icon-combo-path4: "\e9eb";
$oohq-icon-combo-path5: "\e9ec";
$oohq-icon-combo-path6: "\e9ed";
$oohq-icon-combo-path7: "\e9ee";
$oohq-icon-combo-path8: "\e9ef";
$oohq-icon-combo-path9: "\e9f0";
$oohq-icon-combo-path10: "\e9f1";
$oohq-icon-combo-path11: "\e9f2";
$oohq-icon-combo-path12: "\e9f3";
$oohq-icon-group_circle-path1: "\e9f4";
$oohq-icon-group_circle-path2: "\e9f5";
$oohq-icon-group_circle-path3: "\e9f6";
$oohq-icon-group_circle-path4: "\e9f7";
$oohq-icon-group_circle-path5: "\e9f8";
$oohq-icon-group_circle-path6: "\e9f9";
$oohq-icon-group_circle-path7: "\e9fa";
$oohq-icon-group_circle-path8: "\e9fb";
$oohq-icon-group_circle-path9: "\e9fc";
$oohq-icon-group_circle-path10: "\e9fd";
$oohq-icon-group_circle-path11: "\e9fe";
$oohq-icon-group_circle-path12: "\e9ff";
$oohq-icon-group_circle-path13: "\ea00";
$oohq-icon-group_circle-path14: "\ea01";
$oohq-icon-group_circle-path15: "\ea02";
$oohq-icon-group_circle-path16: "\ea03";
$oohq-icon-group_circle-path17: "\ea04";
$oohq-icon-group_circle-path18: "\ea05";
$oohq-icon-group_circle-path19: "\ea06";
$oohq-icon-group_circle-path20: "\ea07";
$oohq-icon-group_circle-path21: "\ea08";
$oohq-icon-group_circle-path22: "\ea09";
$oohq-icon-group_circle-path23: "\ea0a";
$oohq-icon-group_circle-path24: "\ea0b";
$oohq-icon-group_circle-path25: "\ea0c";
$oohq-icon-group_circle-path26: "\ea0d";
$oohq-icon-group_circle-path27: "\ea0e";
$oohq-icon-group_circle-path28: "\ea0f";
$oohq-icon-group_circle-path29: "\ea10";
$oohq-icon-group-path1: "\ea11";
$oohq-icon-group-path2: "\ea12";
$oohq-icon-group-path3: "\ea13";
$oohq-icon-group-path4: "\ea14";
$oohq-icon-group-path5: "\ea15";
$oohq-icon-group-path6: "\ea16";
$oohq-icon-group-path7: "\ea17";
$oohq-icon-group-path8: "\ea18";
$oohq-icon-group-path9: "\ea19";
$oohq-icon-group-path10: "\ea1a";
$oohq-icon-group-path11: "\ea1b";
$oohq-icon-group-path12: "\ea1c";
$oohq-icon-group-path13: "\ea1d";
$oohq-icon-group-path14: "\ea1e";
$oohq-icon-group-path15: "\ea1f";
$oohq-icon-group-path16: "\ea20";
$oohq-icon-group-path17: "\ea21";
$oohq-icon-group-path18: "\ea22";
$oohq-icon-group-path19: "\ea23";
$oohq-icon-group-path20: "\ea24";
$oohq-icon-group-path21: "\ea25";
$oohq-icon-group-path22: "\ea26";
$oohq-icon-group-path23: "\ea27";
$oohq-icon-group-path24: "\ea28";
$oohq-icon-group-path25: "\ea29";
$oohq-icon-group-path26: "\ea2a";
$oohq-icon-ingredients_circle-path1: "\ea2b";
$oohq-icon-ingredients_circle-path2: "\ea2c";
$oohq-icon-ingredients_circle-path3: "\ea2d";
$oohq-icon-ingredients_circle-path4: "\ea2e";
$oohq-icon-ingredients_circle-path5: "\ea2f";
$oohq-icon-ingredients_circle-path6: "\ea30";
$oohq-icon-ingredients_circle-path7: "\ea31";
$oohq-icon-ingredients_circle-path8: "\ea32";
$oohq-icon-ingredients_circle-path9: "\ea33";
$oohq-icon-ingredients_circle-path10: "\ea34";
$oohq-icon-ingredients_circle-path11: "\ea35";
$oohq-icon-ingredients_circle-path12: "\ea36";
$oohq-icon-ingredients_circle-path13: "\ea37";
$oohq-icon-ingredients_circle-path14: "\ea38";
$oohq-icon-ingredients_circle-path15: "\ea39";
$oohq-icon-ingredients_circle-path16: "\ea3a";
$oohq-icon-ingredients_circle-path17: "\ea3b";
$oohq-icon-ingredients_circle-path18: "\ea3c";
$oohq-icon-ingredients_circle-path19: "\ea3d";
$oohq-icon-ingredients-path1: "\ea3e";
$oohq-icon-ingredients-path2: "\ea3f";
$oohq-icon-ingredients-path3: "\ea40";
$oohq-icon-ingredients-path4: "\ea41";
$oohq-icon-ingredients-path5: "\ea42";
$oohq-icon-ingredients-path6: "\ea43";
$oohq-icon-ingredients-path7: "\ea44";
$oohq-icon-ingredients-path8: "\ea45";
$oohq-icon-ingredients-path9: "\ea46";
$oohq-icon-ingredients-path10: "\ea47";
$oohq-icon-ingredients-path11: "\ea48";
$oohq-icon-ingredients-path12: "\ea49";
$oohq-icon-ingredients-path13: "\ea4a";
$oohq-icon-ingredients-path14: "\ea4b";
$oohq-icon-ingredients-path15: "\ea4c";
$oohq-icon-ingredients-path16: "\ea4d";
$oohq-icon-items_circle-path1: "\ea4e";
$oohq-icon-items_circle-path2: "\ea4f";
$oohq-icon-items_circle-path3: "\ea50";
$oohq-icon-items_circle-path4: "\ea51";
$oohq-icon-items_circle-path5: "\ea52";
$oohq-icon-items_circle-path6: "\ea53";
$oohq-icon-items_circle-path7: "\ea54";
$oohq-icon-items_circle-path8: "\ea55";
$oohq-icon-items-path1: "\ea56";
$oohq-icon-items-path2: "\ea57";
$oohq-icon-items-path3: "\ea58";
$oohq-icon-items-path4: "\ea59";
$oohq-icon-items-path5: "\ea5a";
$oohq-icon-options_circle-path1: "\ea5b";
$oohq-icon-options_circle-path2: "\ea5c";
$oohq-icon-options_circle-path3: "\ea5d";
$oohq-icon-options_circle-path4: "\ea5e";
$oohq-icon-options_circle-path5: "\ea5f";
$oohq-icon-options_circle-path6: "\ea60";
$oohq-icon-options_circle-path7: "\ea61";
$oohq-icon-options-path1: "\ea62";
$oohq-icon-options-path2: "\ea63";
$oohq-icon-options-path3: "\ea64";
$oohq-icon-options-path4: "\ea65";
$oohq-icon-earnings_circle-path1: "\ea66";
$oohq-icon-earnings_circle-path2: "\ea67";
$oohq-icon-earnings_circle-path3: "\ea68";
$oohq-icon-earnings_circle-path4: "\ea69";
$oohq-icon-earnings_circle-path5: "\ea6a";
$oohq-icon-earnings_circle-path6: "\ea6b";
$oohq-icon-earnings_circle-path7: "\ea6c";
$oohq-icon-earnings_circle-path8: "\ea6d";
$oohq-icon-earnings_circle-path9: "\ea6e";
$oohq-icon-earnings_circle-path10: "\ea6f";
$oohq-icon-earnings_circle-path11: "\ea70";
$oohq-icon-earnings_circle-path12: "\ea71";
$oohq-icon-earnings_circle-path13: "\ea72";
$oohq-icon-earnings_circle-path14: "\ea73";
$oohq-icon-earnings_circle-path15: "\ea74";
$oohq-icon-earnings_circle-path16: "\ea75";
$oohq-icon-earnings-path1: "\ea76";
$oohq-icon-earnings-path2: "\ea77";
$oohq-icon-earnings-path3: "\ea78";
$oohq-icon-earnings-path4: "\ea79";
$oohq-icon-earnings-path5: "\ea7a";
$oohq-icon-earnings-path6: "\ea7b";
$oohq-icon-earnings-path7: "\ea7c";
$oohq-icon-earnings-path8: "\ea7d";
$oohq-icon-earnings-path9: "\ea7e";
$oohq-icon-earnings-path10: "\ea7f";
$oohq-icon-earnings-path11: "\ea80";
$oohq-icon-earnings-path12: "\ea81";
$oohq-icon-earnings-path13: "\ea82";
$oohq-icon-earnings-path14: "\ea83";
$oohq-icon-menu_circle-path1: "\ea84";
$oohq-icon-menu_circle-path2: "\ea85";
$oohq-icon-menu_circle-path3: "\ea86";
$oohq-icon-menu_circle-path4: "\ea87";
$oohq-icon-menu_circle-path5: "\ea88";
$oohq-icon-menu_circle-path6: "\ea89";
$oohq-icon-menu_circle-path7: "\ea8a";
$oohq-icon-menu_circle-path8: "\ea8b";
$oohq-icon-menu_circle-path9: "\ea8c";
$oohq-icon-menu_circle-path10: "\ea8d";
$oohq-icon-menu_circle-path11: "\ea8e";
$oohq-icon-menu_circle-path12: "\ea8f";
$oohq-icon-menu_circle-path13: "\ea90";
$oohq-icon-menu_circle-path14: "\ea91";
$oohq-icon-menu-path1: "\ea92";
$oohq-icon-menu-path2: "\ea93";
$oohq-icon-menu-path3: "\ea94";
$oohq-icon-menu-path4: "\ea95";
$oohq-icon-menu-path5: "\ea96";
$oohq-icon-menu-path6: "\ea97";
$oohq-icon-menu-path7: "\ea98";
$oohq-icon-menu-path8: "\ea99";
$oohq-icon-menu-path9: "\ea9a";
$oohq-icon-menu-path10: "\ea9b";
$oohq-icon-menu-path11: "\ea9c";
$oohq-icon-menu-path12: "\ea9d";
$oohq-icon-promos_circle2-path1: "\ea9e";
$oohq-icon-promos_circle2-path2: "\ea9f";
$oohq-icon-promos_circle2-path3: "\eaa0";
$oohq-icon-promos_circle2-path4: "\eaa1";
$oohq-icon-promos_circle2-path5: "\eaa2";
$oohq-icon-promos_circle2-path6: "\eaa3";
$oohq-icon-promos_circle2-path7: "\eaa4";
$oohq-icon-promos_circle2-path8: "\eaa5";
$oohq-icon-promos_circle2-path9: "\eaa6";
$oohq-icon-promos_circle2-path10: "\eaa7";
$oohq-icon-promos2-path1: "\eaa8";
$oohq-icon-promos2-path2: "\eaa9";
$oohq-icon-promos2-path3: "\eaaa";
$oohq-icon-promos2-path4: "\eaab";
$oohq-icon-promos2-path5: "\eaac";
$oohq-icon-promos2-path6: "\eaad";
$oohq-icon-promos2-path7: "\eaae";
$oohq-icon-promos2-path8: "\eaaf";
$oohq-icon-setup_circle-path1: "\eab0";
$oohq-icon-setup_circle-path2: "\eab1";
$oohq-icon-setup_circle-path3: "\eab2";
$oohq-icon-setup_circle-path4: "\eab3";
$oohq-icon-setup_circle-path5: "\eab4";
$oohq-icon-setup_circle-path6: "\eab5";
$oohq-icon-setup_circle-path7: "\eab6";
$oohq-icon-setup_circle-path8: "\eab7";
$oohq-icon-setup-path1: "\eab8";
$oohq-icon-setup-path2: "\eab9";
$oohq-icon-setup-path3: "\eaba";
$oohq-icon-setup-path4: "\eabb";
$oohq-icon-setup-path5: "\eabc";
$oohq-icon-customers_circle-path1: "\eabd";
$oohq-icon-customers_circle-path2: "\eabe";
$oohq-icon-customers_circle-path3: "\eabf";
$oohq-icon-customers_circle-path4: "\eac0";
$oohq-icon-customers_circle-path5: "\eac1";
$oohq-icon-customers_circle-path6: "\eac2";
$oohq-icon-customers_circle-path7: "\eac3";
$oohq-icon-customers_circle-path8: "\eac4";
$oohq-icon-customers_circle-path9: "\eac5";
$oohq-icon-customers_circle-path10: "\eac6";
$oohq-icon-customers_circle-path11: "\eac7";
$oohq-icon-customers_circle-path12: "\eac8";
$oohq-icon-customers_circle-path13: "\eac9";
$oohq-icon-customers_circle-path14: "\eaca";
$oohq-icon-customers_circle-path15: "\eacb";
$oohq-icon-customers_circle-path16: "\eacc";
$oohq-icon-customers-path1: "\eacd";
$oohq-icon-customers-path2: "\eace";
$oohq-icon-customers-path3: "\eacf";
$oohq-icon-customers-path4: "\ead0";
$oohq-icon-customers-path5: "\ead1";
$oohq-icon-customers-path6: "\ead2";
$oohq-icon-customers-path7: "\ead3";
$oohq-icon-customers-path8: "\ead4";
$oohq-icon-customers-path9: "\ead5";
$oohq-icon-customers-path10: "\ead6";
$oohq-icon-customers-path11: "\ead7";
$oohq-icon-customers-path12: "\ead8";
$oohq-icon-customers-path13: "\ead9";
$oohq-icon-customers-path14: "\eada";
$oohq-icon-orders_circle-path1: "\eadb";
$oohq-icon-orders_circle-path2: "\eadc";
$oohq-icon-orders_circle-path3: "\eadd";
$oohq-icon-orders_circle-path4: "\eade";
$oohq-icon-orders_circle-path5: "\eadf";
$oohq-icon-orders_circle-path6: "\eae0";
$oohq-icon-orders-path1: "\eae1";
$oohq-icon-orders-path2: "\eae2";
$oohq-icon-orders-path3: "\eae3";
$oohq-icon-orders-path4: "\eae4";
$oohq-icon-payments_circle-path1: "\eae5";
$oohq-icon-payments_circle-path2: "\eae6";
$oohq-icon-payments_circle-path3: "\eae7";
$oohq-icon-payments_circle-path4: "\eae8";
$oohq-icon-payments_circle-path5: "\eae9";
$oohq-icon-payments_circle-path6: "\eaea";
$oohq-icon-payments_circle-path7: "\eaeb";
$oohq-icon-payments_circle-path8: "\eaec";
$oohq-icon-payments_circle-path9: "\eaed";
$oohq-icon-payments_circle-path10: "\eaee";
$oohq-icon-payments_circle-path11: "\eaef";
$oohq-icon-payments_circle-path12: "\eaf0";
$oohq-icon-payments_circle-path13: "\eaf1";
$oohq-icon-payments-path1: "\eaf2";
$oohq-icon-payments-path2: "\eaf3";
$oohq-icon-payments-path3: "\eaf4";
$oohq-icon-payments-path4: "\eaf5";
$oohq-icon-payments-path5: "\eaf6";
$oohq-icon-payments-path6: "\eaf7";
$oohq-icon-payments-path7: "\eaf8";
$oohq-icon-payments-path8: "\eaf9";
$oohq-icon-payments-path9: "\eafa";
$oohq-icon-payments-path10: "\eafb";
$oohq-icon-payments-path11: "\eafc";
$oohq-icon-report_circle-path1: "\eafd";
$oohq-icon-report_circle-path2: "\eafe";
$oohq-icon-report_circle-path3: "\eaff";
$oohq-icon-report_circle-path4: "\eb00";
$oohq-icon-report_circle-path5: "\eb01";
$oohq-icon-report_circle-path6: "\eb02";
$oohq-icon-report_circle-path7: "\eb03";
$oohq-icon-report_circle-path8: "\eb04";
$oohq-icon-report_circle-path9: "\eb05";
$oohq-icon-report_circle-path10: "\eb06";
$oohq-icon-report_circle-path11: "\eb07";
$oohq-icon-report_circle-path12: "\eb08";
$oohq-icon-report_circle-path13: "\eb09";
$oohq-icon-report_circle-path14: "\eb0a";
$oohq-icon-report_circle-path15: "\eb0b";
$oohq-icon-report_circle-path16: "\eb0c";
$oohq-icon-report_circle-path17: "\eb0d";
$oohq-icon-report_circle-path18: "\eb0e";
$oohq-icon-report_circle-path19: "\eb0f";
$oohq-icon-report-path1: "\eb10";
$oohq-icon-report-path2: "\eb11";
$oohq-icon-report-path3: "\eb12";
$oohq-icon-report-path4: "\eb13";
$oohq-icon-report-path5: "\eb14";
$oohq-icon-report-path6: "\eb15";
$oohq-icon-report-path7: "\eb16";
$oohq-icon-report-path8: "\eb17";
$oohq-icon-report-path9: "\eb18";
$oohq-icon-report-path10: "\eb19";
$oohq-icon-report-path11: "\eb1a";
$oohq-icon-report-path12: "\eb1b";
$oohq-icon-report-path13: "\eb1c";
$oohq-icon-report-path14: "\eb1d";
$oohq-icon-report-path15: "\eb1e";
$oohq-icon-report-path16: "\eb1f";
$oohq-icon-report-path17: "\eb20";

